*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --DarkBlue-DME:hsl(209, 23%, 22%);
    --VeryDarkBlue-DMB: hsl(207, 26%, 17%);
    --VeryDarkBlue-LMT: hsl(200, 15%, 8%);
    --DarkGray-LMI: hsl(0, 0%, 52%);
    --VeryLightGray-LMB: hsl(0, 0%, 98%);
    --White-LME: hsl(0, 0%, 100%);
    --White-DMT: hsl(0, 0%, 100%);
}

body{
    font-family: 'Nunito Sans';
    font-size: 62.5%;
    background-color: var(--VeryLightGray-LMB);
}
/*Header*/
.bar{
    width: 100%;
    height: 50px;
    background: var(--White-LME);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--VeryDarkBlue-LMT);
}
.bar-title{
    font-size: 1.4rem;
    font-weight: 800;
    margin-left: 10px;
}
.bar-darkmode{
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    gap: 5px;
    margin-right: 10px;
}


/*Main*/
.container{
    margin-top: 40px;
    width: 100%;
    min-height: 95vh;
    padding: 10px;
}
.countries{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 600;
}
.countries-search{
    display: flex;
}
.countries-search span{
    font-size: 1.1rem;
    padding-left: 15px;
    padding-right: 5px;
    border-top: 1px solid var(--DarkGray-LMI);
    border-bottom: 1px solid var(--DarkGray-LMI);
    border-left: 1px solid var(--DarkGray-LMI);
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px ;
    background-color: var(--White-LME);
    color: var(--DarkGray-LMI);
}
.countries-search input{
    height: 26px;
    border: none;
    width: 240px;
    border-top: 1px solid var(--DarkGray-LMI);
    border-bottom: 1px solid var(--DarkGray-LMI);
    border-right: 1px solid var(--DarkGray-LMI);
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
    background-color: var(--White-LME);
    color: var(--VeryDarkBlue-LMT);
}
.countries-filter select{
    margin-top: 20px;
    height: 35px;
    border:  none;
    outline: 0;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--White-LME);
    color: var(--VeryDarkBlue-LMT);
}
.countries-list{
    margin-top: 25px;
    min-height: 80vh;
    height: 100%;
    width: 100%;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill,minmax(240px,270px));
    justify-items: center;
    
}
.item{
    height: 300px;
    width: 240px;
    border-radius: 5px;
    background-color: var(--White-LME);
    color: var(--VeryDarkBlue-LMT);
}
.item img{
    height: 150px;
    width: 240px;
    background-size: cover;
    border-radius: 5px;
    
   
}
.skeleton{
    background-color: var(--DarkGray-LMI);
    opacity:1;
    animation-name: skeleton;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.item p{
    margin: 10px;
    height: 15px;
    width: 150px;
    border-radius: 5px;
}

@keyframes skeleton {
    0%{
    opacity:0.1;
    }
    50%{
    opacity:0.5;
    }
    100%{
    opacity:1;
    }
    
  }

.dark{
    --DarkGray-LMI: hsl(209, 23%, 22%);
    --VeryLightGray-LMB: hsl(209, 23%, 22%);
    --White-LME: hsl(207, 26%, 17%);
    --White-DMT: hsl(0, 0%, 100%);
    --VeryDarkBlue-LMT: hsl(0, 0%, 100%);
}
 
/*
- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

*/